<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form name="changePasswdForm" #changePasswdForm="ngForm">
                <h1>{{ 'header.change_password'|translate}}</h1>
                <p class="text-muted">{{username}}</p>

                <small *ngIf="oldPasswordForm.errors && oldPasswordForm.touched"
                       class="text text-danger">{{'localError.invalid_password'|translate}}</small>


                <show-hide-password [showTitle]="'label.show_password'|translate"
                                    [hideTitle]="'label.hide_password'|translate">
                  <input [disabled]="lockInput" pattern="(?=.*[a-zA-Z])(?=.*[0-9]).*"
                         minlength="6" [class.is-invalid]="oldPasswordForm.errors && oldPasswordForm.touched"
                         #oldPasswordForm="ngModel" name="oldPassword" required class="form-control"
                         [(ngModel)]="oldPassword" [placeholder]="'label.old_password'|translate">


                </show-hide-password>
                <small *ngIf="newPasswordForm.errors && newPasswordForm.touched"
                       class="text text-danger">{{'localError.invalid_password'|translate}}</small>


                <show-hide-password [showTitle]="'label.show_password'|translate"
                                    [hideTitle]="'label.hide_password'|translate">

                  <input [disabled]="lockInput" pattern="(?=.*[a-zA-Z])(?=.*[0-9]).*"
                         minlength="6" [class.is-invalid]="newPasswordForm.errors && newPasswordForm.touched"
                         #newPasswordForm="ngModel" name="newPassword" required class="form-control"
                         [(ngModel)]="newPassword" [placeholder]="'label.new_password'|translate">


                </show-hide-password>


                <small *ngIf="repeatPasswordForm.errors && repeatPasswordForm.touched"
                       class="text text-danger">{{'localError.invalid_password'|translate}}</small>

                <small *ngIf="repeatPassword!=newPassword&& repeatPasswordForm.touched"
                       class="form-text text-danger">{{'localError.invalid_repeat_password'|translate}} </small>
                <show-hide-password [showTitle]="'label.show_password'|translate"
                                    [hideTitle]="'label.hide_password'|translate">

                  <input [disabled]="lockInput" pattern="(?=.*[a-zA-Z])(?=.*[0-9]).*"
                         minlength="6"
                         [class.is-invalid]="(repeatPasswordForm.errors|| repeatPassword!=newPassword) && repeatPasswordForm.touched "
                         #repeatPasswordForm="ngModel" name="repeatPassword" required class="form-control"
                         [(ngModel)]="repeatPassword" [placeholder]="'label.repeat_password'|translate">


                </show-hide-password>

                <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
                <div class="row">
                  <div class="col-6">
                    <button (click)="submit()" class="btn btn-primary" type="button"
                            [disabled]="changePasswdForm.form.invalid ||lockInput">
                      <span *ngIf="lockInput" class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true"></span>
                      {{btName}}
                    </button>
                  </div>
                </div>

              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<p-toast [showTransitionOptions]="'0ms'" [style]="{marginTop: '80px'}" [hideTransitionOptions]="'0ms'"
         position="top-right" [key]="httpToastrId"></p-toast>
